name: push image to ecr

on:
  push:
    branches: 
      - image
  
  jobs:
    deploy:
      runs_on: ubuntu_latest

      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: configure aws credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-region: ${{ secrets.AWS_REGION }}
            aws-access_key-id: ${{ secrets.AWS_ACCESS_KEY }}
            aws-secret-access-key-id: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}

