name: push image to ecr

on:
  push:
    branches: 
      - master
  
  jobs:
    deploy:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: configure aws credentials
          uses: aws-actions/configure-aws-credentials@v4W
          with:
            aws-region: ${{ secrets.AWS_REGION }}
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key-id: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

        - name: build docker image
          run:  docker build -t node-:latest

        - name: push the image to ecr
          run: IMAGE_URI="$ECR_REGISTRY/node--app:latest" | docker push $IMAGE_URI 

